<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
        @ViewData["Title"] - Darling Cell Solutions
    </title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>

    <div class="d-flex">

        <!-- MENU LATERAL -->

        <div class="bg-dark text-white p-3"
             style="width:250px; min-height:100vh;">


            <h4 class="text-center mb-4">
                📱 Darling Cell
            </h4>

            <hr />

            <ul class="nav flex-column">

                <li class="nav-item mb-2">

                    <a class="nav-link text-white"
                       asp-controller="Dashboard"
                       asp-action="Index">

                        🏠 Dashboard

                    </a>

                </li>

                <li class="nav-item mb-2">

                    <a class="nav-link text-white"
                       asp-controller="Clientes"
                       asp-action="Index">

                        👥 Clientes

                    </a>

                </li>


                <li class="nav-item mb-2">

                    <a class="nav-link text-white"
                       href="#">

                        📦 Inventario

                    </a>

                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="OrdenesServicio" asp-action="Index">
                        Órdenes de Servicio 🔧
                    </a>
                </li>

                <li class="nav-item mb-2">

                    <a class="nav-link text-white"
                       href="#">

                        🔧 Servicio Técnico

                    </a>

                </li>

                <li class="nav-item mb-2">

                    <a class="nav-link text-white"
                       href="#">
                        💰 Ventas
                    </a>
                </li>

                <li class="nav-item mb-2">

                    <a class="nav-link text-white"
                       href="#">

                        👤 Usuarios

                    </a>

                </li>



            </ul>


        </div>




        <!-- CONTENIDO -->

        <div class="flex-grow-1">


            <nav class="navbar navbar-light bg-light shadow-sm">


                <div class="container-fluid">


                    <span class="navbar-brand">

                        Sistema de Gestión
                    </span>
                    <span>

                        Administrador
                    </span>
                </div>
            </nav>

            <main class="p-4">


                @RenderBody()

            </main>
        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


</body>


</html>