@{
    ViewData["Title"] = "Dashboard";
}

<div class="container-fluid">

    <h2 class="mb-4">
        Bienvenido a Darling Cell Solutions
    </h2>


    <div class="row">


        <div class="col-md-3">

            <div class="card shadow p-3 mb-4">

                <h5>
                    👥 Clientes
                </h5>

                <p>
                    Gestionar clientes registrados
                </p>

                <a asp-controller="Clientes"
                   asp-action="Index"
                   class="btn btn-primary">
                    Ir a Clientes
                </a>

            </div>

        </div>



        <div class="col-md-3">

            <div class="card shadow p-3 mb-4">

                <h5>
                    📦 Inventario
                </h5>

                <p>
                    Productos y stock
                </p>

                <button class="btn btn-success">
                    Próximamente
                </button>

            </div>

        </div>



        <div class="col-md-3">

            <div class="card shadow p-3 mb-4">

                <h5>
                    🔧 Reparaciones
                </h5>

                <p>
                    Órdenes de servicio técnico
                </p>

                <button class="btn btn-warning">
                    Próximamente
                </button>

            </div>

        </div>



        <div class="col-md-3">

            <div class="card shadow p-3 mb-4">

                <h5>
                    💰 Ventas
                </h5>

                <p>
                    Ventas y facturación
                </p>

                <button class="btn btn-danger">
                    Próximamente
                </button>

            </div>

        </div>


    </div>


</div>