@model DarlingCellSolutions.Domain.Entidades.ServicioTecnico.OrdenServicio

<h2>Nueva Orden</h2>

<form asp-action="Crear">

    <div class="mb-3">

        <label>Número Orden</label>

        <input asp-for="NumeroOrden" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Cliente</label>

        <input asp-for="ClienteId" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Equipo</label>

        <input asp-for="EquipoId" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Técnico</label>

        <input asp-for="TecnicoId" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Estado</label>

        <input asp-for="EstadoReparacionId" class="form-control" />

    </div>

    <div class="mb-3">

        <label>Falla</label>

        <textarea asp-for="FallaReportada" class="form-control"></textarea>

    </div>

    <div class="mb-3">

        <label>Total</label>

        <input asp-for="TotalCobrado" class="form-control" />

    </div>

    <button class="btn btn-success">

        Guardar

    </button>

</form>