@{
    ViewData["Title"] = "Contacto";
}

<section class="container py-5">

    <h1 class="mb-4">Contáctanos</h1>

    <div class="card shadow">

        <div class="card-body">

            <p><strong>📍 Dirección:</strong> Lima - Perú</p>

            <p><strong>📞 Teléfono:</strong> 999 999 999</p>

            <p><strong>📧 Correo:</strong> contacto@darlingcellsolutions.com</p>

            <p><strong>🕒 Horario:</strong> Lunes a Sábado - 9:00 am a 7:00 pm</p>

        </div>

    </div>

</section>