<h2>Bienvenido @ViewBag.Usuario</h2>

<h4>Rol: @ViewBag.Rol</h4>

<hr />

<h3>Sistema de Gestión Darling Cell Solutions</h3>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
