@{
    ViewData["Title"] = "Nosotros";
}

<section class="container py-5">

    <h1 class="mb-4">¿Quiénes Somos?</h1>

    <p class="lead">
        Darling Cell Solutions es una empresa especializada en reparación
        de celulares, venta de accesorios, repuestos y servicio técnico
        profesional.
    </p>

    <hr />

    <h3>Misión</h3>

    <p>
        Brindar soluciones tecnológicas rápidas, confiables y de calidad
        para nuestros clientes.
    </p>

    <h3>Visión</h3>

    <p>
        Ser una empresa líder en el sector tecnológico ofreciendo innovación
        y excelencia en cada servicio.
    </p>

</section>